textarea {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 5px;
    border:1px solid #54A5DA;
    height:27px;
    background:#fff;
    font-size:13px;
    font-family:"Open Sans", sans-serif;
    color:#666;
    display:block;
    width:30%;
}
select {
   padding:3px 3px 3px 5px;
}
textarea {
   height:150px;
   width:500px;
   resize:vertical;
   line-height:1.4em;
   resize:vertical;
}
input{
    display:block;
}

#formDiv {
 
    padding: 5px;
  }
  
  #form {
    padding: 20px 20px 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }
  button{
    padding: 18px 18px 18px 18px;
    color: white;
    background-color: blue;
    background: -webkit-linear-gradient(top, #3f3f3f, #cccccc);
  }

  button:hover {
    background: #cccccc;
    background: -webkit-linear-gradient(to bottom, #cccccc, #3f3f3f);
    background: -moz-linear-gradient(to bottom, #cccccc, #3f3f3f);
    background: -o-linear-gradient(to bottom, #cccccc, #3f3f3f);
    background: linear-gradient(to bottom, #cccccc, #3f3f3f);
}

body{
  background-image: url(./webb.png);
}

.all{
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}


.h1{
  text-align: center;
  margin-left: 30px;
}

  


    
  

