textarea {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 5px;
    border:1px solid #54A5DA;
    height:27px;
    background:#fff;
    font-size:13px;
    font-family:"Open Sans", sans-serif;
    color:#666;
    display:block;
    width:30%;
}
select {
   padding:3px 3px 3px 5px;
}
textarea {
   height:150px;
   width:500px;
   resize:vertical;
   line-height:1.4em;
   resize:vertical;
}
input{
    display:block;
}

#formDiv {
    display: flex;
    padding: 5px;
  }
  
  #form {
    padding: 20px 20px 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }
  button{
    padding: 20px 20px 20px 20px;
    color: white;
    background-color: blue;
    background: -webkit-linear-gradient(top, #0bdf00, #11610d);
  }

  button:hover {
    background: #11610d;
    background: -webkit-linear-gradient(top, #11610d, #0bdf00);
    background: -moz-linear-gradient(top, #11610d, #0bdf00);
    background: -o-linear-gradient(top, #11610d, #0bdf00);
    background: -ms-linear-gradient(top, #11610d, #0bdf00);
    background: linear-gradient(top, #11610d, #0bdf00);
}



  


    
  

